/* Tipografía */
body {
    font-family: 'Poppins', sans-serif;
}

.italica {
    font-style: italic;
}

.negrita {
    font-weight: 700;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 1.9;
}

/* Etiquetas */
nav {
    color: navy;
    background-color: skyblue;
    border-radius: 5px;
}

nav li {
    display:inline;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    color: navy;
    background-color: skyblue;
    border-radius: 5px;
    text-align: center;
}

/* Clases */
.fondoPrincipal {
    background-image: url(../images/home.jpg);
    background-size: auto;
}

ol.listaOrdenada {
    list-style-type: upper-roman;
}

ul.listaDesorden {
    list-style-type: square;
    list-style-position: outside;
}