/* Tipografía */
body {
    font-family: 'Poppins', sans-serif;
}

.italica {
    font-style: italic;
}

.negrita {
    font-weight: 700;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 1.9;
}

/* Etiquetas */
* {
    margin: 0;
    padding: 0;
}

header img {
    height: 70px;
}

header {
    height: 70px;
    padding: 5px;
    border-bottom: solid black 1px;
    background-color: skyblue;
}

nav {
    display: inline-block;
}

nav li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    color: navy;
    background-color: skyblue;
    border-radius: 5px;
    text-align: center;
}

/* Clases */
.margen {
    margin: 25px;
}

.fondoPrincipal {
    background-image: url(../images/home.jpg);
    height: 70vh;
    padding-left: 25px;
    padding-top: 25px;
}

.contenidoPrincipal {
    background-color: skyblue;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
}

.displayInlineBlock {
    display: inline-block;
}

/* Grid sección Servicios */

.grillaServicios {
    display: grid;
    grid-template-areas: 
    "carpinteria albanileria electricidad"
    "durlock herreria pintura"
    ". plomeria none"
    "diseno administracion none"
    ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: space-evenly;
    margin: 10px;
}

#carpinteria {
    grid-area: carpinteria;
    background-color: bisque;
    padding: 10px;
}

#albanileria {
    grid-area: albanileria;
    background-color: bisque;
    padding: 10px;
}

#electricidad {
    grid-area: electricidad;
    background-color: bisque;
    padding: 10px;
}

#durlock {
    grid-area: durlock;
    background-color: bisque;
    padding: 10px;
}

#herreria {
    grid-area: herreria;
    background-color: bisque;
    padding: 10px;
}

#pintura {
    grid-area: pintura;
    background-color: bisque;
    padding: 10px;
}

#plomeria {
    grid-area: plomeria;
    background-color: bisque;
    padding: 10px;
}

#diseno {
    grid-area: diseno;
    background-color: bisque;
    padding: 10px;
}

#administracion {
    grid-area: administracion;
    background-color: bisque;
    padding: 10px;
}

#diseno ul {
    list-style-type: none;
}

#administracion ol {
    list-style-type: none;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    
    header img {
        height: 50px;
    }
    
    header {
        display: flexbox;
        height: 15vh;
        padding: 5px;
        border-bottom: solid black 1px;
        background-color: skyblue;
    }
    
    nav li {
        font-size: large;
        display: inline;
        padding-left: 15px;
        padding-right: 15px;
    }

    section iframe {
        display: none;
    }
    
    /* Clases */

    .fondoPrincipal {
        background-image: url(../images/home.jpg);
        height: 80vh;
        padding-left: 25px;
        padding-top: 25px;
    }

    .contenidoPrincipal {
        background-color: skyblue;
        margin: 25px;
        padding: 10px;
        border-radius: 5px;
        display: flexbox;
    }

    .contenidoPrincipal img {
        padding-top: 10px;
        width: 70%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    
    header img {
        height: 70px;
    }
    
    header {
        display: flexbox;
        height: 10vh;
        padding: 5px;
        border-bottom: solid black 1px;
        background-color: skyblue;
    }
    
    nav li {
        font-size: larger;
        display: inline;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /* Clases */

    .fondoPrincipal {
        background-image: url(../images/home.jpg);
        height: 90vh;
        padding-left: 25px;
        padding-top: 25px;
    }

    .contenidoPrincipal {
        background-color: skyblue;
        margin: 25px;
        padding: 10px;
        border-radius: 5px;
        display: flexbox;
    }

    .contenidoPrincipal img {
        padding-top: 10px;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    
    header img {
        height: 70px;
    }
    
    header {
        display: flexbox;
        height: 10vh;
        padding: 5px;
        border-bottom: solid black 1px;
        background-color: skyblue;
    }
    
    nav li {
        font-size: larger;
        display: inline;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /* Clases */

    .fondoPrincipal {
        background-image: url(../images/home.jpg);
        height: 90vh;
        padding-left: 25px;
        padding-top: 25px;
    }

    .contenidoPrincipal {
        background-color: skyblue;
        margin: 25px;
        padding: 10px;
        border-radius: 5px;
        display: flexbox;
        align-items: center;
    }

    .contenidoPrincipal img {
        padding-top: 10px;
        width: 50%;
    }
}